*.py[cod]
*.swp
myprojectenv/
env.cnf
config.ini
pytest.ini
.idea/
.vscode/
.fleet/
.venv/
media/
static/
.DS_Store
env/
.coverage
.coverage.*
htmlcov/
logs/
.pytest_cache/
fsettings
rank_data
celerybeat.pid
celerybeat-schedule
/.scannerwork/
.devcontainer
/test-coverage.xml
/test-results.xml
.env
.noseids
secrets/
*.prof
.test_durations
templates/invoices_v2/b2c_templates/indented_qualifying_properties.xml
